repos:
  - repo: https://github.com/PyCQA/flake8
    rev: '6.0.0'
    hooks:
      - id: flake8
        args: [--max-line-length=120]
  - repo: https://github.com/psf/black
    rev: '22.12.0'
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: '5.11.2'
    hooks:
      - id: isort
        name: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.991'  
    hooks:
      - id: mypy
        exclude: tests/
